body {
  background-color: #ebe4c2;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30pt;
  border: 1px solid black;
  margin: 0px 0px 3px 0px;
  padding: 4px;
  border: 1px solid black;
  margin: 0px 0px 3px 0px;
  padding: 4px;
  margin:auto;
  background-color:#e8e7e7;
}

.center {
  text-align: center;
}

